*,
*::before,
*::after{
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}
a{
   text-decoration: none;
}
ul,
ol,
li{
    list-style-type: none;
}
img{
    vertical-align: top;
}



html,
body{
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color:#252b42;
    font-weight: 500;
    font-family: Montserrat;
    background-color: #f4f4f4;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 15px;
}

header {
    background-color: #0F1326;
    color: #fff;
    padding: 20px;
    text-align: center;
}

}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

main {
    margin: 50px;
}

h1, h2 {
    color: #283C6C;
    margin-bottom: 20px;
}


form {
    margin-bottom: 40px;
}

label {
    display: block;
    margin-bottom: 10px;
}
.control{
    flex: 1;
}
.tasks {
    padding: 20px 0;
    flex: 4;
}

.tasks-container{
    display:flex;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #5976B5;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    width: auto;
     border-radius: 4px;
     font-size: 14px;

}



button:hover {
    background-color: #283C6C;
}


.tasks li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-content {
    flex-grow: 1;
}
.task-actions {
    margin-right: 80px;
}
li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.status {
    margin-left: 40px;
    margin-right: 40px;
    padding: 5px;
    background-color: #28a745;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
}

.username{
    padding: 20px 0 0;
    font-weight: bold;
    font-size: 18px;

}
select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sort {
    padding: 20px 0 0 0;
}