<!-- templates/edit_task.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать задачу</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="static/image/check.png" type="image/png" sizes="32x32">

</head>
 <header>

        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Задачи</a></li>
                <li><a href="{{ url_for('profile') }}">Профиль</a></li>
                <li><a href="{{ url_for('logout') }}">Выход</a></li>
            </ul>

            <div class="username">
                <span>{{ current_user.username }}</span>
            </div>
        </nav>
    </header>


<main>
{% block content %}
    <h2>Редактирование задачи</h2>
    <form method="POST" action="{{ url_for('edit_task', task_id=task.task_id) }}">
        <label for="description">Описание задачи:</label>
        <input type="text" id="description" name="description" value="{{ task.description }}" required>

        <label for="deadline">Срок выполнения:</label>
        <input type="date" id="deadline" name="deadline" value="{{ task.deadline }}" required>

        <label for="status">Статус:</label>
        <select id="status" name="status" required>
            {% for task_status in task_statuses %}
                <option value="{{ task_status.status_id }}"
                        {% if task_status.status_id == task.status_id %}selected{% endif %}>
                    {{ task_status.status_name }}
                </option>
            {% endfor %}
        </select>

        <button type="submit">Сохранить изменения</button>
    </form>
    {% endblock %}
    </main>
</html>

